<mat-tab-group>
    <mat-tab label="Monitor">
        <div class="container mt-5">
            <div class="row">
                <div  class="col-sm-12 col-md-3">
                    <app-card-switch [state]="state['ch1']" [switch]="'Switch 1'" [rlyCtrlMd]="rlyCtrlMd['rlyCtrlMdCh1']" [opMode]="opMode"></app-card-switch>
                </div>
                <div class="col-sm-12 col-md-3">
                    <app-card-switch [state]="state['ch2']" [switch]="'Switch 2'" [rlyCtrlMd]="rlyCtrlMd['rlyCtrlMdCh2']" [opMode]="opMode"></app-card-switch>
                </div>
                <div class="col-sm-12 col-md-3">
                    <app-card-switch [state]="state['ch3']" [switch]="'Switch 3'" [rlyCtrlMd]="rlyCtrlMd['rlyCtrlMdCh3']" [opMode]="opMode"></app-card-switch>
                </div>
                <div class="col-sm-12 col-md-3">
                    <app-card-switch [state]="state['ch4']" [switch]="'Switch 4'" [rlyCtrlMd]="rlyCtrlMd['rlyCtrlMdCh4']" [opMode]="opMode"></app-card-switch>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <app-card-sensor [header]="'Environment Temperature'" [value]="bme280['celc']" [unit]="'°C'" [icon]="'device_thermostat'"></app-card-sensor>
                            <app-card-sensor [header]="'Air Pressure'" [value]="bme280['hpa']" [unit]="'hpa'" [icon]="'compress'"></app-card-sensor>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <app-card-sensor [header]="'Environment Humidity'" [value]="bme280['rh']" [unit]="'%'" [icon]="'humidity_percentage'"></app-card-sensor>
                            <app-card-sensor [header]="'Altitude (Approx.)'" [value]="bme280['alt']" [unit]="'M'" [icon]="'altitude'"></app-card-sensor>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <app-card-sensor [header]="'Voltage'" [value]="pzem['volt']" [unit]="'V'" [icon]="'flash_on'"></app-card-sensor>
                            <app-card-sensor [header]="'Current'" [value]="pzem['amp']" [unit]="'A'" [icon]="'flash_auto'"></app-card-sensor>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <app-card-sensor [header]="'Watt'" [value]="pzem['watt']" [unit]="'W'" [icon]="'electric_meter'"></app-card-sensor>
                            <app-card-sensor [header]="'Freq. & Power Factor (Hz, %)'" [value]="pzem['freq'] + ', ' + pzem['pf']" [unit]="''" [icon]="'show_chart'"></app-card-sensor>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Control">
        <div class="container mt-5">
            <div class="row">
                <div class="col-sm-12 col-lg-6 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-floating mb-3">
                                <select id="udawa-rlch" class="form-select" [(ngModel)]="selectedCh" (change)="changeSelectedCh()">
                                    <option *ngFor="let c of channel" value="{{c}}">Channel {{c}}</option>
                                </select>
                                <label for="udawa-rlch">Select Relay Channel</label>
                            </div>

                            <div class="form-floating mb-3">
                                <select class="form-select" id="udawa-rlch-mode" [(ngModel)]="rlyCtrlMd['rlyCtrlMdCh'+selectedCh]" (change)="changeChParams()">
                                    <option *ngFor="let mode of opMode; let i = index;" value="{{i}}">{{mode}}</option>
                                </select>
                                <label for="udawa-rlch-mode">Operation mode</label>
                            </div>

                            <div [ngSwitch]="rlyCtrlMd['rlyCtrlMdCh'+selectedCh]">
                                <div *ngSwitchCase=0>
                                    <div id="udawa-card-dutycycle" class="card mb-3">
                                        <div class="card-body">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" ng-true-value="1" ng-false-value="0" [(ngModel)]="state['ch'+selectedCh]" (change)="changeState()">
                                                <label class="form-check-label" for="flexSwitchCheckDefault">{{state['ch'+selectedCh] ? 'ON' : 'OFF'}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngSwitchCase=1>
                                    <div id="udawa-card-dutycycle" class="card mb-3">
                                        <div class="card-body">
                                        <div class="form-floating input-group mb-3">
                                            <input type="range" class="form-control form-range" min="0" max="100" id="udawa-rlch-dutycycle" [(ngModel)]="dtCyc['dtCycCh'+selectedCh]" (change)="changeChParams()">
                                            <label for="udawa-rlch-dutycycle">Duty Cycle</label>
                                            <span class="input-group-text">{{dtCyc['dtCycCh'+selectedCh]}}%</span>
                                        </div>

                                        <div class="form-floating input-group">
                                            <input type="text" class="form-control" id="udawa-rlch-dutyrange" [(ngModel)]="dtRng['dtRngCh'+selectedCh]" (change)="changeChParams()">
                                            <label for="udawa-rlch-dutyrange">Duty Range</label>
                                            <span class="input-group-text">Seconds</span>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngSwitchCase=2>
                                    <div id="udawa-card-datetime" class="card mb-3">
                                        <div class="card-body">
                                        <div class="form-floating input-group mb-3">
                                            <input type="text" class="form-control" id="udawa-rlch-datetime" [(ngModel)]="rlyActDT['rlyActDTCh'+selectedCh]" (change)="changeChParams()">
                                            <label for="udawa-rlch-datetime">Datetime (YYYY-MM-DD HH:II:SS)</label>
                                        </div>

                                        <div class="form-floating input-group mb-3">
                                            <input type="text" class="form-control" id="udawa-rlch-datetime-on-duration" [(ngModel)]="rlyActDr['rlyActDrCh'+selectedCh]" (change)="changeChParams()">
                                            <label for="udawa-rlch-datetime-on-duration">ON duration</label>
                                            <span class="input-group-text">Seconds</span>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngSwitchCase=3>
                                    <div id="udawa-card-timedaily" class="card mb-3">
                                        <div class="card-body">
                                        <div class="form-floating input-group mb-3">
                                            <input type="text" class="form-control" id="udawa-rlch-timedaily" [(ngModel)]="rlyActDT['rlyActDTCh'+selectedCh]" (change)="changeChParams()">
                                            <label for="udawa-rlch-timedaily">Time daily (only HH:II:SS)</label>
                                        </div>

                                        <div class="form-floating input-group mb-3">
                                            <input type="text" class="form-control" id="udawa-rlch-timedaily-on-duration" [(ngModel)]="rlyActDr['rlyActDrCh'+selectedCh]" (change)="changeChParams()">
                                            <label for="udawa-rlch-timedaily-on-duration">ON duration</label>
                                            <span class="input-group-text">Seconds</span>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngSwitchCase=4>
                                    <div id="udawa-card-interval" class="card mb-3">
                                        <div class="card-body">
                                        <div class="form-floating input-group mb-3">
                                            <input type="text" class="form-control" id="udawa-rlch-interval" [(ngModel)]="rlyActIT['rlyActITCh'+selectedCh]" (change)="changeChParams()">
                                            <label for="udawa-rlch-interval">Interval</label>
                                            <span class="input-group-text">Seconds</span>
                                        </div>

                                        <div class="form-floating input-group mb-3">
                                            <input type="text" class="form-control" id="udawa-rlch-interval-on-duration" [(ngModel)]="rlyActITOn['rlyActITOnCh'+selectedCh]" (change)="changeChParams()">
                                            <label for="udawa-rlch-interval-on-duration">ON duration</label>
                                            <span class="input-group-text">Seconds</span>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngSwitchCase=5>Unavailable</div>
                                <div *ngSwitchDefault>System failure!</div>
                            </div>
                            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="savePermanentClick()">Save Permanent</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <h1>Relay Control Highlight</h1>

                            <p>Currently, UDAWA Gadadar supports six modes of control operation. Here is the detail:</p>
                            <ol>
                                <li>Manual Switch: You can switch the relay manually via the switch button.</li>
                                <li>Duty Cycle: You can switch the relay by using a time range and duty cycle. For example, a 50% duty cycle over a 10 minute time range would give you 5 minutes on and 5 minutes off.</li>
                                <li>Date Time: You can switch the relay precisely at the selected datetime and adjust the on duration.</li>
                                <li>Time Daily: You can switch the relay on at a selected time daily and adjust the on duration.</li>
                                <li>Interval: You can switch the relay to on by interval and adjust the on duration.</li>
                                <li>Environmental Condition: You can use the environmental data as a parameter to adjust when to turn on the switch and for how long it stays on.</li>
                                <li><strong>Use the panic button to disable the device in emergency.</strong></li>
                                <li>Use the reboot button to restart the device.</li>
                            </ol>
                            <hr>
                            <button type="button" class="btn btn-warning btn-sm btn-block" (click)="rebootClick()">
                                <span class="material-symbols-outlined">restart_alt</span> Reboot
                            </button>
                            <button type="button" class="btn btn-danger btn-sm btn-block" (click)="panicClick()">
                                <span class="material-symbols-outlined">warning</span> Panic Button
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Config">
        <div class="container mt-5">
            <div class="row">
                <div class="col-sm-12 col-lg-6 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <div id="udawa-card-ifaceauth" class="card mb-3">
                                <div class="card-body">
                                    <p>Built-in web interface can be accessed from <br>
                                        <a href="http://{{cfg['name']}}.local">http://{{cfg['name']}}.local</a> or <a href="http://{{attr['ipad']}}">http://{{attr['ipad']}}</a>
                                    </p>
                                    <div class="form-floating input-group mb-3">
                                        <input type="text" class="form-control" id="udawa-cfg-httpUname" [(ngModel)]="cfg['httpUname']" (change)="changeConfig()">
                                        <label for="udawa-cfg-httpUser">Built-in Interface Username</label>
                                    </div>
                                    <div class="form-floating input-group mb-3">
                                        <input type="password" class="form-control" id="udawa-cfg-httpPass" [(ngModel)]="cfg['httpPass']" (change)="changeConfig()">
                                        <label for="udawa-cfg-httpPass">Built-in Interface Password</label>
                                    </div>
                                </div>
                            </div>

                            <div id="udawa-card-ifaceauth" class="card mb-3">
                                <div class="card-body">
                                    <p>Currently connected to {{cfg['ap']}}, IP Address {{attr['ipad']}}</p>
                                    <div class="form-floating input-group mb-3">
                                        <input type="text" class="form-control" id="udawa-cfg-wssid" [(ngModel)]="cfg['wssid']" (change)="changeConfig()">
                                        <label for="udawa-cfg-httpUser">Network SSID</label>
                                    </div>
                                    <div class="form-floating input-group mb-3">
                                        <input type="password" class="form-control" id="udawa-cfg-httpPass" [(ngModel)]="cfg['wpass']" (change)="changeConfig()">
                                        <label for="udawa-cfg-httpPass">Network Password</label>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="saveConfigClick()">Save Config</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <h1>Configuration Highlight</h1>
                            <p>Here you can change the basic device configuration. Please read the notes below to avoid losing access to your device.</p>
                            <ol>
                                <li>Use a strong but memorable username and password for the built-in web interface. For security reasons, there is no mechanism to reset or recover the password manually. The password must be reset or viewed via cloud solutions or a serial debugger.</li>
                                <li>The device is supposed to be connected to the Internet for the timing function to work properly. Please provide your WiFi SSID and password correctly. If you mistakenly input the wrong WiFi credential, the device will fail to connect, and you will lose access. The solution is that you can turn on WiFi tethering on your phone with UDAWA and defaultkey as the SSID and password. The device will auto-reconnect to that emergency network, and you can reset the access from there.</li>
                                <li>If your network connection is unreliable, please avoid using any feature that requires a timing function, such as the Datetime and Time Daily channel control modes.</li>
                                <li>Some changes need reboot to take effect. Use the reboot button on the control tab.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>