<nav class="navbar navbar-dark" style="background-color: #3f51b5;">
  <div class="container-fluid">
    <div class="navbar-brand" href="#">
      <img src="assets/img/udawa.svg" alt="Bootstrap" width="40" height="40">
      UDAWA Smart System
    </div>
  </div>
</nav>
<div class="d-flex justify-content-center bg-success px-2 py-2 text-bg-success">
  <div class="flex-item ms-2 me-3"><span class="badge text-bg-success">{{cfg['name'] + ' (' + cfg['model'] + ') '}}</span></div>
  <div class="flex-item ms-2 me-3"><span class="badge text-bg-success">{{deviceTelemetry['dts']}}</span></div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <app-dashboard (panic)="panic()" (reboot)="reboot()" (saveConfig)="saveConfig()" (savePermanent)="savePermanent()" (chParamsChange)="chParamsChange()" (stateChange)="stateChange()" [(selectedCh)]="selectedCh"
        [deviceTelemetry]="deviceTelemetry" [bme280]="bme280" [pzem]="pzem" [(state)]="state" [(rlyCtrlMd)]="rlyCtrlMd"
        [(dtCyc)]="dtCyc" [(dtRng)]="dtRng" [(rlyActDT)]="rlyActDT" [(rlyActDr)]="rlyActDr"
        [(rlyActIT)]="rlyActIT" [(rlyActITOn)]="rlyActITOn" [(cfg)]="cfg" [(attr)]="attr"></app-dashboard>
    </div>
  </div>
</div>