<header class="container-fluid">
  <nav>
    <ul>
      <li><img src="assets/img/udawa.svg" alt="Bootstrap" width="40" height="40"></li>
      <li><strong>UDAWA Smart System</strong></li>
    </ul>
    <ul>
      <li><small>{{cfg['name'] + ' (' + cfg['model'] + ') '}}</small></li>
      <li><small>{{deviceTelemetry['dts']}}</small></li>
      <li><small>{{deviceTelemetry['heap']}}</small></li>
    </ul>
  </nav>
        
</header>
<main class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-dashboard (panic)="panic()" (reboot)="reboot()" (saveConfig)="saveConfig()" (savePermanent)="savePermanent()"
        (chParamsChange)="chParamsChange()" (attrChange)="attrChange()"
        (stateChange)="stateChange()" [(selected)]="selected"
        [deviceTelemetry]="deviceTelemetry" [bme280]="bme280" [pzem]="pzem" [(state)]="state" [(cpM)]="cpM"
        [(cp1A)]="cp1A" [(cp1B)]="cp1B" [(cp2A)]="cp2A" [(cp2B)]="cp2B"
        [(cp4A)]="cp4A" [(cp4B)]="cp4B" [(cp3A)]="cp3A" [(lbl)]="lbl" [(cfg)]="cfg" [(attr)]="attr"></app-dashboard>
    </div>
  </div>
</main>